<!DOCTYPE html>



<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Request Header Parser</title>

    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  
  
  <body>
    <h1>Request Header Parser Microservice</h1>
    
    <hr/>
    
    <h2>Example Usage:</h2>
    <p><a href="api/whoami">[base url]/api/whoami</a></p>
    
    <h2>Example Output:</h2>
    <p>
      <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
    </p>

    <footer>
      <p>This project was forked from <a href="https://github.com/freeCodeCamp/boilerplate-project-headerparser" target="_blank"></a></p>
    </footer>
  </body>
</html>
